body {
  text-align: center;
}
.image {
  background-image: url("../images/the-flatiron-building.png");
}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.Top {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p {
  font-family: Helvetica;
  font-size: 14px;
}
#Design {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
.Tb {
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}
.bottom p {
  font-family: Helvetica;
  background-color: dimgray;
  font-size: 11px;
  color: white;
  display:flex;
  flex-direction:row;
  align-items: center;
  margin-right: 10px;
}
